<ion-header>
  <ion-navbar>
    <ion-title>
        <span *ngIf="isNew">Cadastrar partida</span>
        <span *ngIf="!isNew">Editar partida</span>
    </ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-title text-center>
        <b>{{ countPlayersSelected() }}</b>  atletas adicionados
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-row>
        <ion-col col-6 *ngFor="let a of players">
          <ion-item>
                <ion-label>
                    <div style="float:right;">
                      <ion-badge *ngIf="a.model.position==50" color="light">PV</ion-badge>
                      <ion-badge *ngIf="a.model.position==30" color="light">AR</ion-badge>
                      <ion-badge *ngIf="a.model.position==10" color="light">AL</ion-badge>
                    </div>
                    &nbsp;{{a.model.name}}
                </ion-label>
                <ion-checkbox [(ngModel)]="a.selected"></ion-checkbox>
          </ion-item>
        </ion-col>
    </ion-row>
</ion-content>

<ion-footer>
  <ion-toolbar>

    <ion-row>
        <ion-col>
            Times<br>
            <ion-select [(ngModel)]="match.number_teams" style='padding: 0px;'>
                <ion-option value="2">2</ion-option>
                <ion-option value="3">3</ion-option>
                <ion-option value="4">4</ion-option>
                <ion-option value="5">5</ion-option>
                <ion-option value="6">6</ion-option>
                <ion-option value="7">7</ion-option>
                <ion-option value="8">8</ion-option>
                <ion-option value="9">9</ion-option>
                <ion-option value="10">10</ion-option>
            </ion-select>
        </ion-col>
        <ion-col>
             Jogadores<br>
             <ion-select [(ngModel)]="match.players" style='padding: 0px;'>
                <ion-option value="5">5</ion-option>
                <ion-option value="6">6</ion-option>
                <ion-option value="7">7</ion-option>
                <ion-option value="8">8</ion-option>
                <ion-option value="9">9</ion-option>
            </ion-select>
        </ion-col>
        <ion-col col-6 text-center>
            <button small ion-button  color="secondary" (click)="save()" *ngIf="isNew">
                Cadastrar
            </button>
            <div *ngIf="!isNew">
                <button small ion-button icon-only color="danger" (click)="delete()">
                     <ion-icon name="trash"></ion-icon>
                </button>
                <button small ion-button color="secondary" (click)="update()">
                    Atualizar
                </button>
            </div>
        </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>