<ion-header>

  <ion-navbar>
    <ion-title>
        <span *ngIf="isNew">Cadastrar atleta</span>
        <span *ngIf="!isNew">Editar atleta</span>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-item>
        <ion-input [(ngModel)]="athlete.name" type="text" value="" placeholder="Nome" class='name'></ion-input>
    </ion-item>

    <ion-list radio-group [(ngModel)]="athlete.position">
      <ion-item>
        <ion-label>
            <ion-badge color="primary">Pivô</ion-badge>
        </ion-label>
        <ion-radio value="50"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>
            <ion-badge color="danger">Armador</ion-badge>
        </ion-label>
        <ion-radio value="30"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>
            <ion-badge color="secondary">Ala</ion-badge>
        </ion-label>
        <ion-radio value="10"></ion-radio>
      </ion-item>
    </ion-list>
    <hr>  
    <div text-right>
      <button small ion-button  color="secondary" (click)="save()" *ngIf="isNew">
          Cadastrar
      </button>
      <div *ngIf="!isNew">
          <button small ion-button color="danger" (click)="delete()">
              Excluir
          </button>
          <button small ion-button color="secondary" (click)="update()">
              Atualizar
          </button>
      </div>
    </div>
</ion-content>