<ion-content padding>
  <div *ngIf="!matchService.matchs.length">
    <p>
      Para cadastrar partidas clique em "Nova partida", abaixo.
    </p>
  </div>

  <div *ngIf="matchService.matchs">
    <div *ngFor="let m of matchService.matchs">
      <div class="item" (click)="editMatch(m)">
        {{m.day}} - 
        {{m.teams}} - 
        {{m.players}} - 
        {{m.athletes.length}}
      </div>
    </div>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar text-right>
    <button ion-button color="primary" (click)="addMatch()">
      Nova partida
    </button>
  </ion-toolbar>
</ion-footer>