<ion-content padding>
  <div *ngIf="!matchService.matchs.length">
    <p>
      Para cadastrar partidas clique em "Nova partida", abaixo.
    </p>
  </div>

  <div *ngIf="matchService.matchs">
    <div *ngFor="let m of matchService.matchs">
      <div class="item" (click)="viewMatch(m)">
        <ion-row>
          <ion-col>
            <b>{{m.number_teams}}</b> times<br>
            <b>{{m.players}}</b> atletas por time<br>
          </ion-col>
          <ion-col>
            <b>{{m.athletes.length}}</b> atletas adicionados<br>
            <span class="hint">Criado em {{m.day}}</span>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar text-right>
    <button ion-button color="primary" (click)="addMatch()">
      Nova partida
    </button>
  </ion-toolbar>
</ion-footer>