<ion-content padding>
  <div *ngIf="!athleteService.athletes.length">
    <p>
      Para cadastrar atletas clique em "Novo atleta", abaixo.
    </p>
  </div>

  <div *ngIf="athleteService.athletes.length">
    <div *ngFor="let a of athleteService.athletes">
      <div (click)="editAthlete(a)" class="item">
        <span *ngIf="a.name">{{a.name}}</span>
        <span *ngIf="!a.name" class="hint">Não definido.</span>
        <div style="float:right">
          <ion-badge *ngIf="a.position==50" color="primary">PIV</ion-badge>
          <ion-badge *ngIf="a.position==30" color="danger">ARM</ion-badge>
          <ion-badge *ngIf="a.position==10" color="secondary">ALA</ion-badge>
        </div>
      </div>
    </div>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar text-right>
    <button ion-button color="primary" (click)="addAthlete()">
      Novo atleta
    </button>
  </ion-toolbar>
</ion-footer>